.add-video__form {
	max-width: 400px;
}

.add-video__label {
	cursor: pointer;
}

.add-video__input {
	color: rgba(255, 255, 210, 0.9);
	background-color: rgba(42, 42, 46, 0.5);
	border: none;
	transition: all 0.5s ease;
}

.add-video__input:focus,
.add-video__input:hover {
	color: rgba(255, 255, 210, 0.9);
	background-color: rgba(42, 42, 46, 0.9);
}

.add-video__message {
	color: rgba(255, 235, 210, 0.9);
}
