body {
	background-image: url("./assets/images/background-540w.jpg");
	background-attachment: fixed;
	background-size: cover;
	backdrop-filter: blur(0.5rem);

	color: rgba(255, 235, 210, 0.9);
}

.container {
	padding: 0 1rem;
	margin-bottom: -1rem;

	max-width: 1000px;
	min-height: 100vh;

	background: linear-gradient(
		to right top,
		rgba(255, 255, 255, 0.1),
		rgba(255, 255, 255, 0.2)
	);
	backdrop-filter: blur(0.5rem);
}

@media (min-width: 768px) {
	/* media medium */
	body {
		background-image: url("./assets/images/background-768w.jpg");
	}
}

@media (min-width: 992px) {
	/* media large */
	body {
		background-image: url("./assets/images/background-992w.jpg");
	}
}

@media (min-width: 1200px) {
	/* media extra large */
	body {
		background-image: url("./assets/images/background-1200w.jpg");
	}
}
